.content{
    max-width: 500px;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 30px;
}

.first-action {
    margin-top: 30px;
    display: block;
}

.lobby {
    margin-top: 30px;
    display: none;
}

.launch-game{
    margin-top: 30px;
    display: none;
}

.leave-section {
    margin-top: 30px;
    display: none;
}

.room-controls {
    display: none;
}

.the-game{
    display: none;
}

.ressources{
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 3em;
}

figure {
    float: right;
    width: 50%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

.places{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 5em;
    width: 5em;
}