.content{
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-action {
    margin-top: 30px;
    display: block;
}

.lobby {
    margin-top: 30px;
    display: none;
}

.launch-game{
    margin-top: 30px;
    display: none;
}

.leave-section {
    margin-top: 30px;
    display: none;
}

.room-controls {
    display: none;
}

.the-game{
    display: none;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#money-balance{
    position:fixed;
    bottom:10px;
    right:10px;
}

.players-interactions{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}