.content{
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-action {
    margin-top: 30px;
    display: block;
}

.lobby {
    margin-top: 30px;
    display: none;
}

.launch-game{
    margin-top: 30px;
    display: none;
}

.leave-section {
    margin-top: 30px;
    display: none;
}

.room-controls {
    display: none;
}

.pointer {
    cursor:pointer;
    transition: all .2s ease-in-out;
}

.pointer:hover {
    transform: scale(1.2);
}

.the-game{
    display: none;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#money-balance{
    position:fixed;
    bottom:10px;
    right:10px;
}

.players-interactions{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

#objective{
    display: inline-block;
    margin-right: 10px;
}

#objective-logo{
    display: inline-block;
    vertical-align: middle;
}

#my-influence{
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 12px 20x 0 rgba(0,0,0,0.6);
    transition: 0.2s;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20% - 20px);
    max-width: 60%;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.objective-to-do{
    display: block;
    margin-top: 40px;
}

.modal-content{
    overflow-x: scroll;
    max-height: 500px;
}

.send-energy{
    display: none;
}

.vote{
    display: none;
}

.power0{
    display: none
}
.power1{
    display: none
}
.power2{
    display: none
}
.power3{
    display: none
}
.power4{
    display: none
}
.power5{
    display: none
}
.power6{
    display: none
}
.power7{
    display: none
}
.power8{
    display: none
}